h1{
	margin-top: 20px;
}
#wrapper{
   margin:12px auto;
   width:fit-content;
}	
input[name=txtNum]{
	width:40px;
	margin:0;
	font-size:20pt;
	text-align:center;
}
input[type=checkbox]{
	width:40px;
	margin:0;
}
td{
	border:0
}
