*
{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
}

h1
{
    text-align: center;
    margin: 20px;
}

#wrapper
{
    width: 500px;
    height: 300px;
    border: 1px solid #ccc;
    background-image: url("./img/Penguins.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    
}

#wrapper p
{
    font-size: 11pt;
    font-style: italic;
    text-align: center;
    padding: 10px 0px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ddd;
    opacity: 0;
}

#wrapper:hover p
{
    opacity: 1;
}

#wrapper p:hover
{
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
    
}