
#wrapper {
  width: 780px;
  border: 1px solid black;
  margin: 30px auto;
  padding: 20px;
  padding-bottom:30px;
  box-shadow: 10px 10px 15px 5px black;
}

h1{
	text-align:center;
}

#wrapper>div{
	width:230px;
	margin:0 auto;
}

input{
    height: 50px;
    width: 50px;
    margin: 2px;
}

#txtDisplay{
    width: 210px;
	padding:0px 5px;
    text-align: right;
    font-size: 20pt;
}

/* Per togliare il bordino blu intorno al controllo quando ha il focus*/
#txtDisplay:focus {
	outline:none;
}

#btnCalcola{
    width: 224px;
}
